<%= form_for(resource, :as => resource_name, :url => "/login/restore-password", :html => { :method => :post }) do |f| %>
  <table>
    <tr>
      <td><label for="user_email">Email Address</label></td>
      <td><%= f.email_field :email %></td>
    </tr>
    <tr>
      <td></td>
      <td><%= f.submit "Send me password reset instructions" %></td>
    </tr>
  </table>
<% end %>