<div class="hero-unit " style="background: <%= @theme.color_background_article %>">
  <h1>SCRUM2B TEAM</h1>
  <p>
    <a class="btn btn-primary btn-large">
      About Us
    </a>
  </p>
</div>

<%= render 'index' %>
