<% @theme.each do |theme|%>
<div class="hero-unit " style="background: <%= theme.color_background_article %>">
	<% end %>
  <h1>Profile Heading</h1>
  <p>Tagline</p>
  <p>
    <a class="btn btn-primary btn-large">
      Learn more
    </a>
  </p>
</div>

<%= render 'index' %>
