/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

a {
  text-decoration: none;
}
ul, li {
  list-style: none outside none;
  margin: 0;
  padding: 0;
}
.navbar-fixed-top .navbar-inner, .navbar-fixed-bottom .navbar-inner {
  background: url("/assets/nav_bg.gif") repeat-x scroll left center transparent;
  height: 37px;
}

.footer {
  margin-top: 45px;
  padding: 35px 0 36px;
  border-top: 1px solid #E5E5E5;
}

.comments textarea {
  width: 500px;
  height: 100px;
}
.version {
  background: #eeeeee;
  color: #000000;  
  float: left;
  padding: 20px; 
  width: 400px;
}
