// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#article_title,
#article_description,
#cke_content {
  width: 100%;  
}

.ckeditor {
  width: 100%;  
  height: 100px;  
}

.main{
  margin:20px 0px;
}

.content{
  font-size:15px;
}

.title{
  font-size:25px;
  color:#005588;
  font-weight:bold;
}

.time{
  color:#02a5e2;
}

.description{
  font-size:15px;
  color:#333333;
  font-weight:bold;
}

.main img{
  margin:15px auto;
}
.div_comment{
  padding:10px;
  border:1px solid #e4e4e4;
  position:relative;
  margin:0 0 10px 0;
}
.del_comment{
  position:absolute;
  top:10px;
  right:10px;
}
.img{
 
  height:70px;
  width:70px;
  float:left;
  border:1px solid red;
}
.div_comment p.user{
   color:#02a5e2;
}
.div_comment p.comment{
  margin:0 0 0 80px;
}
.form_comment{
  background:#f7f7f7;
  border:1px solid #e4e4e4;
  position:relative;
}
.form_comment .img{
  
}
.form_comment #comment_button{
  position:absolute;
  right:20px;
  bottom:-50px;
}
.form_comment #text_comment{
  height:100px;
}






