.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.clearfix { display: inline-block; }
* html .clearfix { height: 1%; }
.clearfix { display: block; }
.article{
  padding: 10px;
  margin-bottom:15px;
  border: 1px solid #e4e4e4;
  height: 350px;
  background: #f7f7f7;
  position: relative;
  border-radius: 5px;
  -moz-border-radius: 5px; 
  -webkit-border-radius: 5px;
  }
.article.first-child{
  margin-left: 0px;
}
h2{
  color:#0088cc;
}
p.name{
  color:#02a5e2;
  font-size:15px;
}
