.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.clearfix { display: inline-block; }
* html .clearfix { height: 1%; }
.clearfix { display: block; }
.mainarticle {
  margin-bottom:50px;
}

.featured {
  border:1px solid #e4e4e4;
  height:450px;
  padding: 10px;
  border-radius: 5px;
  -moz-border-radius: 5px; 
  -webkit-border-radius: 5px;
  background:#f7f7f7;
  position:relative;
}

.featured.first-child,
.article-new.first-child {
  margin-left: 0px;
}

p.a {
  font-size:25px;
  padding:0 0 5px 0px;
  color:#0088cc;
}

.only-featured {
  overflow:hidden;
  height:350px;
}

.only-featured img {
  border-radius: 5px;
  -moz-border-radius: 5px; 
  -webkit-border-radius: 5px;
  float:left;
  padding:0 10px 10px 0;
}

p.description {
  font-size:13px;
}

p.title {
  font-size:18px;
 
}

p.redmore {
  font-size:15px;
  position:absolute;
  bottom:0px;
  left:10px;
}
p.by{
  position:absolute;
  top:35px;
  left:10px;
  font-size:15px;
  
}
.article-new {
  padding: 10px;
  margin-bottom:15px;
  border: 1px solid #e4e4e4;
  height: 300px;
  background: #f7f7f7;
  position: relative;
  border-radius: 5px;
  -moz-border-radius: 5px; 
  -webkit-border-radius: 5px;
}
.article-new img{
  margin:5px 0 5px 0;
  border-radius: 5px;
  -moz-border-radius: 5px; 
  -webkit-border-radius: 5px;
}


.blog-article{
  border-radius: 5px;
  -moz-border-radius: 5px; 
  -webkit-border-radius: 5px;
  border: 1px solid #e4e4e4;
  padding: 10px;
  margin-bottom: 15px;
  position: relative;
  background: #f7f7f7;
}
 
.blog-article p.by{
  margin-top: -20px;
}
.blog-article p.category{
  margin-bottom: 20px;
}

.alert-success{
  padding:10px;
  margin:0 0 10px 0;
  display:none;
}
.alert-error{
  padding:10px;
  margin:0 0 10px 0;
  display:none;
  
}

.notice{
  padding: 10px;
  background: #DFF0D8;
  font-weight: bold;
  color:#72994e;
}

.error{
  padding: 10px;
  background: #f2dede;
  font-weight: bold;
  color:#b94a50;
}






