<div class="container row-fluid">
<p class="name"><span> <%= @category.name%></span>
</p>
		<% @articles.each_with_index do |article, index| %>
		<%= render :partial => "/articles/article", :locals => {:article => article, :index => index % 4 } %>
	<% end %>
</div>
<% if @category.updatable_by?(current_user) %>
	<%= link_to 'Edit', { :action => 'edit', :permalink => @category.permalink }, :class => "btn btn-primary" %>
	<%= link_to 'Back', {:action => 'index'}, class: "btn" %>
<% end %>
